
# Python bytecode files
*.pyc
__pycache__/

# Virtual environment
myvenv/
venv/

# Django migration files
*.sqlite3
db.sqlite3

# Media and static files
/media/
*.log

# Django settings (security and environment-specific settings)
.env

# IDE files
.vscode/
.idea/
